<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="..css/task.css" th:href="@{/css/task.css}"/>
</head>
<body>


<h1>New Pet</h1>
<form action="#" th:action="@{/pet}" th:object="${pet}" method="post">
    <p id="id" th:if="${pet.id != null}"><input type="text" th:field="*{id}"/></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Pet type: <input type="text" th:field="*{type}" /></p>
    <p>Birthday: <input type="date" th:field="*{birthday}" /></p>



    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>