<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Admin</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="..css/task.css" th:href="@{/css/task.css}"/>
</head>
<body>


<h1>New Admin</h1>
<form action="#" th:action="@{/newpetadmin}" th:object="${petAdmin}" method="post">
    <p id="id" th:if="${petAdmin.id != null}"><input type="text" th:field="*{id}"/></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Pet: <input type="text" th:field="*{pet}" /></p>


    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>