<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>Pets</title>
</head>

<nav th:replace="fragments :: navbar"></nav>
<body>
<p th:if="${pet != null}" th:text="'Added: ' + ${pet.name}"></p>
<p th:if="${deleted != null}" th:text="'Pet Deleted: ' + ${deleted}"></p>
<a th:href="@{/pet}">Add New Pet</a>
<table>
    <thead>
    <tr>
        <th>Pet name</th>
        <th>Pet type</th>
        <th>Pet Birthday</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.name}">pet-name</td>
        <td th:text="${pet.type}">pet-type</td>
        <td th:text="${pet.birthday}">pet-birthday</td>
        <td>
            <a th:href="@{/pet(id=${pet.id})}">Edit</a>
        </td>
        <td>
            <form th:method="delete" th:action="@{/pet(id=${pet.id})}">
                <button type="submit">Delete</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>