<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>Tasks</title>
</head>

<nav th:replace="fragments :: navbar"></nav>
<body>
<p th:if="${task != null}" th:text="'Added: ' + ${task.taskname}"></p>
<p th:if="${deleted != null}" th:text="'Task Deleted: ' + ${deleted}"></p>


<table class="table table-striped table-bordered table-secondary">
    <thead>
    <tr>
        <th>Task</th>
        <th>Memo</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskname}">taskname</td>
        <td th:text="${task.memo}">memo</td>
        <td>
            <a class="btn btn-warning" th:href="@{/task(id=${task.id})}" role="button">Edit</a>
        </td>
        <td>
            <form th:method="delete" th:action="@{/task(id=${task.id})}">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>