<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="..css/task.css" th:href="@{/css/task.css}"/>
</head>
<body>


<h1>New Task</h1>
<form action="#" th:action="@{/task}" th:object="${task}" method="post">
    <p id="id" th:if="${task.id != null}"><input type="text" th:field="*{id}"/></p>
    <p>Task: <input type="text" th:field="*{taskname}" /></p>
    <p>Memo(optional): <input type="text" th:field="*{memo}" /></p>
    <p>Repeats on: (leave blank for everyday)</p>
    <p><input type="checkbox" name="isSunday" th:field="*{repeatsSunday}">Sunday </input>
        <input type="checkbox" name="isMonday" th:field="*{repeatsMonday}">Monday</input>
        <input type="checkbox" name="isTuesday" th:field="*{repeatsTuesday}">Tuesday</input>
        <input type="checkbox" name="isWednesday" th:field="*{repeatsWednesday}">Wednesday</input>
        <input type="checkbox" name="isThrusday" th:field="*{repeatsThursday}">Thursday</input>
        <input type="checkbox" name="isFriday" th:field="*{repeatsFriday}">Friday</input>
        <input type="checkbox" name="isSaturday" th:field="*{repeatsSaturday}">Saturday</input></p>



    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>