<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>New Task</title>
</head>

<nav th:replace="fragments :: navbar"></nav>
<h1>New Task</h1>
<form action="#" th:action="@{/task}" th:object="${task}" method="post">
    <p id="id" th:if="${task.id != null}"><input type="text" th:field="*{id}"/></p>
    <div class="form-group row">
        <label for="taskname" class="col-sm-2 col-form-label">Task Name:</label>
        <div class="form-group mb-2">
            <input type="text" class="form-control" id="taskname" th:field="*{taskname}" />
        </div>
    </div>
    <div class="form-group row">
        <label for="taskmemo" class="col-sm-2 col-form-label">Memo (Optional):</label>
        <div class="form-group mb-2">
            <input type="text" class="form-control" id="taskmemo" th:field="*{memo}" />
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="checked" id="defaultCheck1" th:field="*{iseverday}" >
        <label class="form-check-label" for="defaultCheck1">
            Repeats Everyday?
        </label>
    </div>
    <h3>Repeats on:</h3>
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  th:field="*{repeatsSunday}">
    <label class="form-check-label" for="inlineCheckbox1">Sunday</label>
</div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:field="*{repeatsMonday}">
        <label class="form-check-label" for="inlineCheckbox2">Monday</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3"  th:field="*{repeatsTuesday}">
        <label class="form-check-label" for="inlineCheckbox1">Tuesday</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" th:field="*{repeatsWednesday}">
        <label class="form-check-label" for="inlineCheckbox2">Wednesday</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox5"  th:field="*{repeatsThursday}">
        <label class="form-check-label" for="inlineCheckbox1">Thursday</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox6" th:field="*{repeatsFriday}">
        <label class="form-check-label" for="inlineCheckbox2">Friday</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox7"  th:field="*{repeatsSaturday}">
        <label class="form-check-label" for="inlineCheckbox1">Saturday</label>
    </div>
    <button class="btn btn-info" type="submit" value="submit">Submit</button>
</form>
</body>
</html>