<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>Tasks</title>
</head>

<nav th:replace="fragments :: navbar"></nav>
<body>

<a th:href="@{/newday}">Start a new day</a>
<table>
    <thead>
    <tr>
        <th>Task</th>
        <th>Memo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.taskname}">taskname</td>
        <td th:text="${task.memo}">memo</td>
        <td>
            <a th:href="@{/completed(id=${task.id})}">Completed</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>