<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>Vets</title>
</head>

<nav th:replace="fragments :: navbar"></nav>
<body>
<p th:if="${pet != null}" th:text="'Added: ' + ${vet.vetname}"></p>
<p th:if="${deleted != null}" th:text="'Vet Deleted: ' + ${deleted}"></p>
<a th:href="@{/vet}">Add New Vet</a>
<table>
    <thead>
    <tr>
        <th>vet name</th>
        <th>Vet buisness</th>
        <th>Vet adress</th>
        <th>last vist date</th>
        <th>last vist reason </th>
        <th>log</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.vetname}">vet-name</td>
        <td th:text="${vet.buisnessname}">vet buisness name</td>
        <td th:text="${vet.vetadress}">vet-adress</td>
        <td th:text="${vet.lastvistdate}">last vist date</td>
        <td th:text="${vet.lastvistreason}">last vist reason</td>
        <td th:text="${vet.log}">log</td>
        <td>
            <a th:href="@{/vet(id=${vet.id})}">Edit</a>
        </td>
        <td>
            <form th:method="delete" th:action="@{/vet(id=${vet.id})}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>